@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<!Doctype html>
<html>
<head>
    <title></title>
    <style>
        .nav-item.me-2.me-xl-50 {
            margin-right: 33rem !important;
        }
        .border {
            border: 1px solid #d9dee3 !important;
            background: #fff;
        }

        .card-body {
            position: relative;
            display: flexbox;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 0 solid #d9dee3;
            border-radius: 0.5rem;
        }

        #chartdiv {
            width: 100%;
            height: 370px;
        }

        #chartdivs {
            width: 100%;
            height: 370px;
        }

        .amcharts-chart-div > a {
            display: none !important;
        }

        text.highcharts-credits {
            display: none;
        }

        path.highcharts-button-symbol {
            display: none;
        }

        .k-popup.k-list-container {
            width: 300px !important;
        }

        .k-webkit {
            overflow: hidden !important;
        }

        .error_show {
            color: red;
            margin-left: 10px;
        }

        .k-grid.k-widget {
            height: 360px;
        }

        .k-grid-header th.k-header > .k-link {
            width: 100px;
        }

        .k-grid-header {
            font-weight: bold;
        }

        .k-state-active {
            display: none;
        }

        .k-content {
            font-weight: normal;
            font-size: 13px;
        }

        .k-widget.k-window {
            padding-top: 35px;
            min-width: 90px;
            min-height: 50px;
            width: 700px !important;
            height: 300px !important;
            top: 180.766px !important;
            /*left: 120px !important;*/
            z-index: 10003;
            left: 300px !important;
        }

        div.content-wrapper{
            min-height:43px !important;
        }
    </style>
</head>
<body>
        <div class="row" style="height:auto;">
            <div class="col-md-12">
                <div class="content-wrapper" style="min-height:43px">
                    <div class="row" style="margin-left:-6px;">
                        <div class="col-sm-2">
                            <div class="card shadow-none bg-transparent border border-primary mb-3" style="border-radius: 20px;border-color: #ff6a00 !important;margin: 25px;margin-left: 4px;margin-right: -15px;">
                                <div class="card-body" style="background:#ff6a00;border-radius: 15px;padding:8px">
                                    <h5 class="card-title" style="color: #fff;text-align: center;font-size: 20px !important;"><span id="recon_count">10</span></h5>
                                    <center><p class="card-text" style="font-weight:600;color:white;">Recons</p></center>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card shadow-none bg-transparent border border-secondary mb-3" style="border-radius: 20px;border-color: #71DD37  !important;margin: 25px;margin-right: -45px;position: relative;left: -25px;">
                                <div class="card-body" style="background:#71DD37 ;border-radius: 14px;padding:8px">
                                    <h5 class="card-title" style="color: #fff;text-align: center;font-size: 20px !important;"><span id="acc_count">20</span></h5>
                                    <center><p class="card-text" style="font-weight:600;color:white;">Accounts</p></center>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card shadow-none bg-transparent border border-success mb-3" style="border-radius: 20px;border-color: #FFAB00 !important;margin: 25px;margin-right: -41px;position: relative;left: -22px;">
                                <div class="card-body" style="background:#FFAB00;border-radius: 17px;padding:8px">
                                    <h5 class="card-title" style="color: #fff;text-align: center;font-size: 20px !important;"><span id="tran_count">1593051</span></h5>
                                    <center><p class="card-text" style="font-weight:600;color:white;">Transactions</p></center>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card shadow-none bg-transparent border border-success mb-3" style="border-radius: 20px;border-color: #8592A3 !important;margin: 25px;margin-right: -38px;position: relative;left: -22px;">
                                <div class="card-body" style="background:#8592A3;border-radius: 19px;padding:8px">
                                    <h5 class="card-title" style="color: #fff;text-align: center;font-size: 20px !important;"><span id="ko_count">1547786</span></h5>
                                    <center><p class="card-text" style="font-weight:600;color:white;">Matches</p></center>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card shadow-none bg-transparent border border-success mb-3" style="border-radius: 20px;border-color:#ef8737 !important;margin: 25px;margin-right: -36px;position: relative;left: -24px;">
                                <div class="card-body" style="background: #ef8737;border-radius: 20px;padding:8px">
                                    <h5 class="card-title" style="color: #fff;text-align: center;font-size: 20px !important;"><span id="ko_Partialcount">25</span></h5>
                                    <center><p class="card-text" style="font-weight:600;color:white;">Partial</p></center>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card shadow-none bg-transparent border border-success mb-3" style="border-radius: 20px;border-color:#696cff  !important;margin: 25px;margin-right: -22px;position: relative;left: -28px;">
                                <div class="card-body" style="background:#696cff ;border-radius: 20px;padding:8px">
                                    <h5 class="card-title" style="color: #fff;text-align: center;font-size: 20px !important;"><span id="excp_count">46257</span></h5>
                                    <center><p class="card-text" style="font-weight:600;color:white;">Exceptions</p></center>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="margin-left:81%;">
                            <label for="Exception" class="title" style="color:red;"><span id="openingexcp_count">*Opening Exception 967</span></label>
                        </div>
                    </div>
                    <div class="row" style="margin-left:10px;padding-bottom:10px;margin-top: -25px;">
                        <div class="col-md-6 col-xl-4 border">
                            <h5 style="text-align:center;font-weight:600;display:block;">Auto Match Vs Manual Match</h5>
                            <center><div id="chart" class="chart" style="height:300px;"></div></center>
                        </div>
                        <div class="col-md-6 col-xl-4 border" style="width: 534px;">
                            <h5 style="text-align: center;font-weight:600;">Ageing of Exceptions</h5>
                            <center><div id="pie-chart" class="pie-chart" style="width: 500px;align-content:center;height: 300px"></div></center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#kendoVersion").text(kendo.version);

        $("#cmbEmployee").kendoComboBox({
            dataSource: [{ EmployeeID: 1, EmployeeName: "Ash" }],
            placeholder: "Select",
            dataTextField: "EmployeeName",
            dataValueField: "EmployeeID",
            index: 0,
            suggest: true,
            filter: "contains",
        });

        $("#grid").kendoGrid({
            dataSource: [{ CustomerID: "1", ContactName: "Aysh1", CompanyName: "ABC", Country: "IND" },
            { CustomerID: "2", ContactName: "Aysh2", CompanyName: "ABC", Country: "IND" },
            { CustomerID: "3", ContactName: "Aysh3", CompanyName: "ABC", Country: "IND" },
            { CustomerID: "4", ContactName: "Aysh4", CompanyName: "ABC", Country: "IND" },
            { CustomerID: "5", ContactName: "Aysh5", CompanyName: "ABC", Country: "IND" }
            ],
            filterable: true,
            sortable: true,
            columns: CustomerHelper.GenerateColumns(),
            editable: false,
            navigatable: true,
            selectable: "row"
        });
    });
    var CustomerHelper = {
        GenerateColumns: function () {
            return columns = [
                { field: "CustomerID", title: "ID", width: 40, editable: false },
                { field: "ContactName", title: "Name", width: 60, editable: false },
                { field: "CompanyName", title: "Company", width: 60, editable: false },
                { field: "Country", title: "Country", width: 60, editable: false },
            ]
        }
    }

</script>


<script>
    var dataone = [];

    (function ($) {
        var MultiSelectBox = window.kendo.ui.DropDownList.extend({
            _select: function (li) { },//Prevents highlighting
            _blur: function () { },//Prevents auto close
        });

        window.kendo.ui.plugin(MultiSelectBox);
    })(jQuery);

    function onSelect(e) {
        debugger;

        var cbs = document.getElementsByName("cb");
        var checkboxes = document.getElementsByTagName('input');
        var ddl = $("#ReconName_id").data("kendoDropDownList");
        var id = ddl.element.attr("ReconName_id");
        multiselect();
        var item = e.item;
        var index = item.index();
        if (index == 0) {
            for (var i = 1; i < cbs.length; i++) {
                var selectAll = cbs[0].checked;
                if (cbs[0].checked) {
                    for (var i = 0; i < checkboxes.length; i++) {
                        if (checkboxes[i].type == 'checkbox') {
                            checkboxes[i].checked = true;
                        }
                    }
                    multiselect();
                }

                else {
                    for (var i = 0; i < checkboxes.length; i++) {
                        if (checkboxes[i].type == 'checkbox') {
                            checkboxes[i].checked = false;
                        }
                    }
                    multiselect();
                }
            }
        }

    }

    function multiselect() {
        debugger;
        // var dataItem = this.dataItem(e.item);
        var ddl = $("#ReconName_id").data("kendoDropDownList");
        var isAllChecked = $('#cb').prop("checked");
        var cbs = document.getElementsByName("cb");
        var display;

        var list = [];
        for (var i = 1; i < cbs.length; i++) {
            if (cbs[i].checked) {
                list.push(cbs[i].value);
            }

        }


        if (list.length == 0) {
            display = "-- SelectAll --";

            $("#ReconAttr").html("Recon - All");
        }
        else {

            display = list.join(", ");
            $("#ReconAttr").html("Recon - " + display + "");
        }

        ddl.text(display);

    }


    function subtractMonths(date, months) {
        debugger;
        date.setMonth(date.getMonth() - months);
        return date;
    }
    $(document).ready(function () {
        call();
        debugger;
        $("#navhead").text("Dashboard");
        drawVisualization();
        drawChart1();
        $(".accordion_head").click(function () {
            debugger;

            if ($(this).next(".accordion_body").is(':visible')) {
                $(this).next(".accordion_body").slideUp(300);
                $(this).children(".plusminus").text('+');
            } else {
                $(this).next(".accordion_body").slideDown(300);
                $(this).children(".plusminus").text('-');
            }
        });
    });

   
    function call() {
        debugger;
        $(".accordion_body").slideUp(300)
        $(".plusminus").text('+');




    }
    function openNav() {
        $(document).ready(function () {
            $('#layout-menu').toggleClass('active');
        });
    }



    function drawVisualization() {

        debugger;

        google.charts.load('current', {
            callback: function () {
                var manual_ko_count;
                var system_ko_count;

                //  var tags = dataone.objcat_lst;
                var tags = dataone.objlist;
                var opt1 = [];
                var opt2 = [];
                for (var i = 0; i < 2; i++) {
                    var str = i;
                    system_ko_count = 1495929;
                    manual_ko_count = 51857;

                }
                new google.visualization.PieChart(document.getElementById('chart')).draw(
                    google.visualization.arrayToDataTable([
                        ['Manual Match', 'System Match'],
                        ['Manual', { v: manual_ko_count }],
                        ['System', { v: system_ko_count }]
                    ]),
                    {
                        height: 240,
                        // legend: { 'position': 'right', 'alignment': 'end' },
                        legend: { position: 'bottom' },

                        pieSliceText: 'value',
                        //sliceVisibilityThreshold: 0.0000000000000001,
                        sliceVisibilityThreshold: 0,
                        //   title: 'Auto Match Vs Manual Match',

                        //titlePosition: center,
                        titleTextStyle: {
                            bold: true,
                            //  italic: true,
                            fontSize: 14,


                        },

                        tooltip: {
                            //showColorCode: true,
                            //text: 'value',
                            trigger: 'selection'
                        },
                        //width: 525
                    }
                );
            },
            packages: ['corechart', 'table']
        });

    }


    function drawChart1() {
        debugger;
        google.charts.load('current', {
            callback: function () {

                var tags = [{ aging_desc: "0 - 5 Days", excp_count: 0 }, { aging_desc: "6 - 15 Days", excp_count: 0 },
                { aging_desc: "16 - 30 Days", excp_count: 43745 }, { aging_desc: "31 - 60 Days", excp_count: 1212 }, { aging_desc: "> 60 Days", excp_count: 1300 }];
                var opt1 = [];
                var opt2 = [];
                for (var i = 0; i < tags.length; i++) {
                    var aging_desc = tags[i].aging_desc;
                    var excpcount = tags[i].excp_count;
                    var opt1 = [aging_desc, excpcount];
                    if (i == 0) {

                        opt2.push(['Task', 'Hours per Day']);
                        opt2.push(opt1);
                    } else {
                        opt2.push(opt1);
                    }
                }

                new google.visualization.PieChart(document.getElementById('pie-chart')).draw(
                    google.visualization.arrayToDataTable(opt2),

                    {
                        height: 240,
                        //legend: { 'position': 'right', 'alignment': 'end' },
                        legend: { position: 'bottom' },
                        floating: true,
                        pieSliceText: 'value',
                        //sliceVisibilityThreshold: 0.0000000000000001,
                        sliceVisibilityThreshold: 0,
                        //  title: 'Ageing of Exceptions',
                        titleTextStyle: {
                            bold: true,
                            //  italic: true,
                            fontSize: 14,


                        },
                        tooltip: {
                            //showColorCode: true,
                            //text: 'value',
                            trigger: 'selection'
                        },
                        //width: 525
                    }
                );
            },
            packages: ['corechart', 'table']
        });
    }


</script>
