@{
    ViewData["Title"] = "QCDMaster";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<!Doctype html>
<html>
<head>
    <title></title>
    <style>
        .nav-item.me-2.me-xl-50 {
            margin-right: 33rem !important;
        }

        .border {
            border: 1px solid #d9dee3 !important;
            background: #fff;
        }

        .card-body {
            position: relative;
            display: flexbox;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 0 solid #d9dee3;
            border-radius: 0.5rem;
        }

        #chartdiv {
            width: 100%;
            height: 370px;
        }

        #chartdivs {
            width: 100%;
            height: 370px;
        }

        .amcharts-chart-div > a {
            display: none !important;
        }

        text.highcharts-credits {
            display: none;
        }

        path.highcharts-button-symbol {
            display: none;
        }

        .k-popup.k-list-container {
            width: 300px !important;
        }

        .k-webkit {
            overflow: hidden !important;
        }

        .error_show {
            color: red;
            margin-left: 10px;
        }

        .k-grid.k-widget {
            height: 360px;
        }

        .k-grid-header th.k-header > .k-link {
            width: 100px;
        }

        .k-grid-header {
            font-weight: bold;
        }

        .k-state-active {
            display: none;
        }

        .k-content {
            font-weight: normal;
            font-size: 13px;
        }

        .k-widget.k-window {
            padding-top: 35px;
            min-width: 90px;
            min-height: 50px;
            width: 700px !important;
            height: 300px !important;
            top: 180.766px !important;
            /*left: 120px !important;*/
            z-index: 10003;
            left: 300px !important;
        }

        div.content-wrapper {
            min-height: 43px !important;
        }
    </style>
</head>
<body>
    <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
            <div class="card-body" style="margin-top:-12px;height: 84%;">
                <div class="row" style="padding-bottom:5px;margin-top:5px;padding-left:30px;padding-right:5px">
                    <div class="col-sm-4">
                        <label for="" class="form-label">QCD Master Code</label>
                        <select id="qcdcode" class="form-select form-control" onchange="getQcdlist($('#qcdcode').val())">
                            <option value="">Select</option>
                        </select>
                        <input class="form-control" id="parentdesc" type="text" value="" hidden>

                    </div>
                    <div class="col-sm-4">
                        <form id="theuploadformempff">
                            <div class="form-group">
                                <label for="Filename" class="form-label">File Name</label>
                                <input type="file" class="form-control input-lg browse btn btn-primary input-lg" name="File_Import" id="File_Import" style="width: 90%;height: 30px;">
                                <label class="col-md-6 control-label" id="FileName"></label>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-2" style="margin-top:29px">
                        <label class="form-label"></label>
                        <input type="button" style="background: #38b55a;border-color: #38b55a;width:40%" name="Import" class="btn btn-sm btn-success me-2" value="Start" />

                    </div>
                </div>

                <div class="col-md-12">
                    <i data-bs-toggle="modal" onclick="openNewModel()" data-bs-target="#newQcd" class="fa fa-plus cursor-pointer" aria-hidden="true" style="color:green"></i>

                <div class="col-md-12">
                    <div id="grid"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="newQcd" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body" style="margin-top: -26px;">
                    <div class="row">
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-4">
                            <h4 style="font-size: 15px;text-align: center;color: #1a9950;font-weight: 600;">New</h4>
                        </div>
                        <div class="col-sm-4">
                            <i class="bx bx-x cursor-pointer" data-bs-dismiss="modal" style="color: #000000;float:right"></i>
                        </div>
                    </div>
                    <hr style="margin-top:-1px; width:100%;">
                    <div class="container">
                        <div class="row" style="padding-bottom:5px;margin-top:5px;padding-left:30px;padding-right:5px">
                            <div class="col-sm-4">
                                <label for="" class="form-label">Parent Code</label>
                                <input class="form-control" id="parentCode" type="text" value="" disabled>
                                    <input class="form-control" id="master_gid" type="text" value="" hidden>
                                    <input class="form-control" id="mode" type="text" value="" hidden>
                            </div>

                            <div class="col-sm-4">
                                <label for="" class="form-label"> Master Syscode </label>
                                <input class="form-control" id="MasterSysCode" type="text" value="">

                            </div>
                            <div class="col-sm-4">
                                <label for="" class="form-label"> Master Code </label>
                                <input class="form-control" id="MasterCode" type="text" value="">
                            </div>
                        </div>

                        <div class="row" style="padding-bottom:5px;margin-top:5px;padding-left:30px;padding-right:5px">
                            <div class="col-sm-4">
                                <label for="" class="form-label">
                                    Master ShortCode
                                </label>
                                <input class="form-control" id="MasterShortCode" type="text" value="">
                            </div>

                            <div class="col-sm-4">
                                <label for="" class="form-label">
                                    Master Name
                                </label>
                                <input class="form-control" id="MasterName" type="text" value="">

                            </div>
                            <div class="col-sm-4">
                                <label for="" class="form-label">
                                    Master Multiple Name
                                </label>
                                <input class="form-control" id="MasterMultipleName" type="text" value="">
                            </div>
                        </div>


                        <div class="row" style="padding-bottom:8px;padding-top:8px;padding-left:30px;padding-right:5px">
                            <div class="col-sm-4">
                                <label for="" class="form-label">Status&nbsp;</label>
                                <div style="margin-left:2px;margin-top:5px">
                                    <input type="radio" id="active" name="qcd_status" checked value="Y">&nbsp;&nbsp;Active&nbsp;
                                    <input type="radio" id="inactive" name="qcd_status" style="margin-left: 10px;" value="N">&nbsp;&nbsp;InActive&nbsp;
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-4" style="margin-top:30px;float: right;">
                        <center>
                            <button type="submit" class="btn btn-sm btn-success me-2" style="background: #38b55a;border-color: #38b55a;width:40%" onclick="saveQcd()">Save</button>&nbsp;&nbsp;&nbsp;
                            <button type="submit" class="btn btn-sm btn-success me-2" data-bs-dismiss="modal" style="background: red;border-color: red;width:40%" onclick="closeModal()">Cancel</button>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script type="text/javascript">


    $(document).ready(function () {
        var mode = "";
        $("#navhead").text("QCD Master");
        $("#kendoVersion").text(kendo.version);
        debugger;
        var data = {};
        data.in_user_code = 'sundar';
        data.in_master_code = 'QCD_MAST';
        var Context = data;
        debugger;
        $.ajax({
            type: "POST",
            url: '/QCDmaster/QcdMasterGridRead',
            dataType: 'json',
            data: JSON.stringify({ in_user_code: Context.in_user_code, in_master_code: Context.in_master_code }),
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                debugger;
                if (response != null) {
                    $("#qcdcode").empty();
                    $.each(response, function (index, item) {
                        $("#qcdcode").append($('<option>', {
                            value: item.master_syscode,
                            text: item.master_name
                        }));                       
                    });
                    debugger;
                    getQcdlist($("#qcdcode").val());
                    var cur_value = $('#qcdcode').children('option:selected').text();
                    $("#parentCode").val(cur_value);

                }
                else {
                    alert("Error Else");
                }
            },
            error: function (er) {
                alert(er)
                console.log(er)
            }
        });
    });


    function getQcdlist(master_code) {
        debugger;
        grid_dataset_details([]);
        var data = {};
        data.in_user_code = 'sundar';
        data.in_master_code = master_code;
        var cur_value = $('#qcdcode').children('option:selected').text();
        $("#parentCode").val(cur_value);
        $.ajax({
            type: "POST",
            url: "/QCDmaster/QcdMasterGridRead",
            dataType: "json",
            data: JSON.stringify({ in_user_code: data.in_user_code, in_master_code: data.in_master_code }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                debugger;
                if (data != null) {
                    grid_dataset_details(data);
                } else {
                    grid_dataset_details([]);
                }
            }
        });
    }

    function grid_dataset_details(data) {
        try {
            $("#grid").kendoGrid({
                dataSource: {
                    data: data,
                    schema: {
                        model: {
                            fields: {
                                Action: { type: "string" },
                                master_gid: { type: "int" },
                                parent_master_syscode: { type: "string" },
                                master_syscode: { type: "string" },
                                master_code: { type: "string" },
                                master_name: { type: "string" },
                                master_multiple_name: { type: "string" },
                                active_status: { type: "string" },
                                active_status_desc: { type: "string" },
                                master_short_code: { type: "string" },
                            }
                        }
                    }
                },
                height: 400,
                groupable: false,
                sortable: true,
                selectable: true,
                filterable: true,
                selectable: "single",

                columns: [{
                    command: [
                        {
                            name: "edit",
                            id: "Edit",
                            template: "<a href='' onclick='openQCDModel()' value='edit' data-bs-toggle='modal'><img src = '../Assets/images/editicons.png'></a>   ",
                        },
                        {
                            name: "Delete",
                            id: "Delete",
                            template: "<a href='' onclick='myDeleteQCD()' data-bs-toggle='modal'><img src = '../Assets/images/del.png'></a>&nbsp;&nbsp;&nbsp;",
                        },
                    ],
                    title: "Action ",
                    width: "40px",
                },
                {
                    field: "master_gid",
                    title: "Master Gid",
                    width: 100,
                    hidden: true
                },
                {
                    field: "parent_master_syscode",
                    title: "Parent Code",
                    width: 100,
                },
                {
                    field: "master_syscode",
                    title: "MasterSync Code",
                    width: 100,
                },
                {
                    field: "master_code",
                    title: "Master Code",
                    width: 100,
                },
                {
                    field: "master_name",
                    title: "Master Name",
                    width: 100,
                },
                {
                    field: "master_multiple_name",
                    title: "Master Multiple Name",
                    width: 100,
                },
                {
                    field: "master_short_code",
                    title: "Master Short Code",
                    width: 100,
                    hidden: true
                },
                {
                    field: "active_status",
                    title: "Active stauts",
                    width: 100,
                    hidden: true
                },
                {
                    field: "active_status_desc",
                    title: "Status",
                    width: 100,
                }],
            });
        }
        catch (err) {
            console.log(err)
        }
    }

    function closeModal() {
        clearModal();
        $("#newQcd").hide();
    }

    function openModel() {
        $("#newQcd").show();
    }

    function openNewModel() {
        clearModal();
        $("#newQcd").show();
        $("#master_gid").val(0);
        $("#mode").val("INSERT");
    }

    function saveQcd() {
        debugger;
        var master_code = '';
        var objdata = {};
        objdata.masterGid = $("#master_gid").val();
        objdata.action = $("#mode").val();
        objdata.active_status = $("input[name='qcd_status']:checked").val();
        objdata.masterCode = $("#MasterCode").val();
        objdata.mastermutiplename = $("#MasterMultipleName").val();
        objdata.masterName = $("#MasterName").val();
        objdata.masterShortCode = $("#MasterShortCode").val();
        objdata.masterSyscode = $("#MasterSysCode").val();
        objdata.parentMasterSyscode = $("#qcdcode").val();
        var objdata = objdata;
        $.ajax({
            type: "POST",
            url: '/QCDmaster/QcdCrud',
            data: JSON.stringify(objdata),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                var result = JSON.parse(response);
                var data = result[0];
                if (data.out_result == "1") {
                   master_code = $("#MasterCode").val()
                    closeModal();
                    $.alert({
                        title: 'Recon',
                        content: data.out_msg,
                        type: 'green',
                    });
                    var data = {};
                    data.in_user_code = 'sundar';
                    data.in_master_code = master_code;
                    //grid_dataset_details(data);
                    window.location.reload(1);
                    master_code = "";
                } else {
                    $.alert({
                        title: 'Recon',
                        content: data.out_msg,
                        type: 'red',
                    });
                }
            },
            error: function (er) {
                console.log(er)
            }
        });

    }

    function openQCDModel() {
        debugger;
        $("#newQcd").modal('show');
        var grid = $("#grid").data("kendoGrid");
        var selectedItem = grid.dataItem(grid.select());
        console.log("selectedItem", selectedItem);
        $("#master_gid").val(selectedItem.master_gid);
        $("#mode").val("UPDATE");
        $("#MasterSysCode").val(selectedItem.master_syscode);
        $("#MasterShortCode").val(selectedItem.master_short_code);
        $("#MasterCode").val(selectedItem.master_code);
        $("#MasterName").val(selectedItem.master_name);
        $("#MasterMultipleName").val(selectedItem.master_multiple_name);
        if (selectedItem.active_status == "Y") {
            $("#active").prop("checked", true);
        } else {
            $("#inactive").prop("checked", true);
        }

    }

    function clearModal() {
        $("#MasterSysCode").val("");
        $("#MasterShortCode").val("");
        $("#MasterCode").val("");
        $("#MasterName").val("");
        $("#MasterMultipleName").val("");
        $("#active").prop("checked", true);
    }

    function myDeleteQCD() {
        var grid = $("#grid").data("kendoGrid");
        var selectedItem = grid.dataItem(grid.select());
        console.log("selectedItem", selectedItem);
        $("#master_gid").val(selectedItem.master_gid);
        $("#mode").val("Delete");
        $("#MasterSysCode").val(selectedItem.master_syscode);
        $("#MasterShortCode").val(selectedItem.master_short_code);
        $("#MasterCode").val(selectedItem.master_code);
        $("#MasterName").val(selectedItem.master_name);
        $("#MasterMultipleName").val(selectedItem.master_multiple_name);
        $.confirm({
            icon: 'fa fa-warning',
            title: 'Recon',
            autoClose: 'cancel|10000',
            theme: 'dark',
            animationSpeed: 700,
            content: 'Are you sure do you want to delete this record!',
            type: 'orange',
            buttons: {
                confirm: function () {                   
                    saveQcd();
                },
                cancel: function () {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'Recon',
                        theme: 'dark',
                        content: 'Delete Canceled.!',
                        type: 'blue',
                        animationSpeed: 700,
                    });
                },
            }
        });
    }

</script>
