@{
	Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<!Doctype html>
<html>
<head>
	<title></title>
	<style>
		.nav-item.me-2.me-xl-50 {
			margin-right: 33rem !important;
		}
		.error_show {
			color: red;
			margin-left: 10px;
		}

		.k-grid.k-widget {
			height: 360px;
		}

		.k-grid-header th.k-header > .k-link {
			width: 100px;
		}

		.k-grid-header {
			font-weight: bold;
		}

		.k-state-active {
			display: none;
		}

		.k-content {
			font-weight: normal;
			font-size: 13px;
		}

		.k-widget.k-window {
			padding-top: 35px;
			min-width: 90px;
			min-height: 50px;
			width: 700px !important;
			height: 300px !important;
			top: 180.766px !important;
			/*left: 120px !important;*/
			z-index: 10003;
			left: 300px !important;
		}

		.action-button {
			width: 120px;
			background: #673AB7;
			font-weight: bold;
			color: white;
			border: 0 none;
			border-radius: 0px;
			cursor: pointer;
			padding: 10px 5px;
			margin: 10px 0px 10px 5px;
			float: right;
			border-radius: 20px;
		}

		.action-button-previous {
			width: 100px;
			background: #616161;
			font-weight: bold;
			color: white;
			border: 0 none;
			border-radius: 0px;
			cursor: pointer;
			padding: 10px 5px;
			margin: 10px 5px 10px 0px;
			float: right;
			border-radius: 20px;
		}
	</style>
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
	<div class="content-wrapper">
		<div class="container-xxl flex-grow-1 container-p-y">
			<div class="card-body" style="margin-top:-33px;">
				<div class="col-7">
					<label for="" class="form-label" style="font-size: 18px;">&nbsp;&nbsp;HDFC CC BRS &nbsp;</label>
				</div>
				<div class="row">
					<div class="nav-align-top mb-3 mt-3">
						<ul class="nav nav-pills mb-2" role="tablist">
							<li class="nav-item">
								<button type="button" id="rule"
										class="nav-link active"
										role="tab"
										data-bs-toggle="tab"
										data-bs-target="#navs-pills-top-Rule"
										aria-controls="navs-pills-top-Rule"
										aria-selected="true">
									Rule
								</button>
							</li>
							<li class="nav-item">
								<button type="button" id="base"
										class="nav-link"
										role="tab"
										data-bs-toggle="tab"
										data-bs-target="#navs-pills-top-base"
										aria-controls="navs-pills-top-base"
										aria-selected="true">
									Base & Identifier
								</button>
							</li>
							<li class="nav-item">
								<button type="button" id="identifier"
										class="nav-link"
										role="tab"
										data-bs-toggle="tab"
										data-bs-target="#navs-pills-top-identifier"
										aria-controls="navs-pills-top-identifier"
										aria-selected="true">
									Identifier
								</button>
							</li>
							<li class="nav-item">
								<button type="button" id="target-grouping"
										class="nav-link"
										role="tab"
										data-bs-toggle="tab"
										data-bs-target="#navs-pills-top-target-grouping"
										aria-controls="navs-pills-top-target-grouping"
										aria-selected="true">
									Target Grouping
								</button>
							</li>
							<li class="nav-item">
								<button type="button" id="genericcondition"
										class="nav-link"
										role="tab"
										data-bs-toggle="tab"
										data-bs-target="#navs-pills-top-genericcondition"
										aria-controls="navs-pills-top-genericcondition"
										aria-selected="true">
									Generic Condition
								</button>
							</li>
							
						</ul>
						<div class="tab-content">
							<div class="tab-pane fade show active" id="navs-pills-top-Rule" role="tabpanel" style="margin-top:-25px;">
								<div class="panel panel-default">
									<div class="panel-body" style="padding: 10px 0px;">
										<div class="row" style="padding-bottom:5px;margin-top:5px;">
											<div class="col-sm-4">
												<label for="" class="form-label">Rule Name</label>
												<select id="mode" class="form-select form-control">
													<option value="1" selected>Hdfc CC- UPI Collection From Customer</option>
													<option value="2">Hdfc CC- IMPS Collection From Customer</option>
												</select>
											</div>
											<div class="col-sm-4">
												<label for="" class="form-label"> Rule Order</label>
												<input class="form-control" id="extraction" name="ruleorder" type="text" value="1" data-bind="value:Rule order">
											</div>
											<div class="col-sm-4">
												<label for="" class="form-label">Reversal Flag</label>
												<div style="margin-left:2px;margin-top:5px">
													<input type="radio" id="Status" name="Reversal" value="Y">&nbsp;&nbsp;Yes&nbsp;
													<input type="radio" id="Status" style="margin-left: 10px;" name="Reversal" value="N" checked>&nbsp;&nbsp;No&nbsp;
												</div>
											</div>
										</div>
										<div class="row" style="padding-bottom:8px;padding-top:8px;">
											<div class="col-sm-4">
												<label for="" class="form-label">Group Flag</label>
												<div style="margin-left:2px;margin-top:5px">
													<input type="radio" id="Status" name="Groupflag" value="Y">&nbsp;&nbsp;Yes&nbsp;
													<input type="radio" id="Status" style="margin-left: 10px;" name="Groupflag" value="N" checked>&nbsp;&nbsp;No&nbsp;
												</div>
											</div>
											<div class="col-sm-4">
												<label for="" class="form-label">Group Method</label>
												<div style="margin-left:2px;margin-top:5px">
													<input type="radio" id="Status" name="Groupmethod" value="C">&nbsp;&nbsp;Contra/Mirror&nbsp;
													<input type="radio" id="Status" style="margin-left: 10px;" name="Groupmethod" value="B" checked>&nbsp;&nbsp;Both&nbsp;
												</div>
											</div>
											<div class="col-sm-4">
												<label for="" class="form-label">Group Many-To-Many</label>
												<div style="margin-left:2px;margin-top:5px">
													<input type="radio" id="Status" name="Grouptomany" value="Y">&nbsp;&nbsp;Yes&nbsp;
													<input type="radio" id="Status" style="margin-left: 10px;" name="Grouptomany" value="N" checked>&nbsp;&nbsp;No&nbsp;
												</div>
											</div>
										</div>
										<div class="row" style="padding-bottom:8px;padding-top:8px;">
											<div class="col-sm-4">
												<label for="" class="form-label">Status</label>
												<div style="margin-left:2px;margin-top:5px">
													<input type="radio" id="Status" name="_Status1" value="Y" checked>&nbsp;&nbsp;Active&nbsp;
													<input type="radio" id="Status" style="margin-left: 10px;" name="_Status1" value="N">&nbsp;&nbsp;InActive&nbsp;
												</div>
											</div>
											<div class="col-sm-4">
												<label for="" class="form-label"></label>
											</div>
											@*<div class="col-sm-4" style="margin-top:2%;">
											<button type="submit" class="btn btn-sm btn-success me-2" style="background: #38b55a;border-color: #38b55a;width:40%">Save</button>&nbsp;&nbsp;&nbsp;
											<button type="submit" class="btn btn-sm btn-success me-2" data-bs-dismiss="modal" style="background: red;border-color: red;width:40%" onclick="rr1()">Cancel</button>
											</div>*@
											<div class="col-sm-4" style="margin-top:2%;">
												<input type="button" name="next" class="next action-button" value="Next" onclick="validateNextRemarks();" />
												<input type="button" name="previous" class="previous action-button-previous" value="Previous" onclick="window.location.href = '/Applyrule/Applyruledetail'" />
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="navs-pills-top-base" role="tabpanel" style="margin-top:-25px;">
								<div class="panel panel-default">
									<div class="panel-body" id="accordion">
										<i class="fa fa-plus" aria-hidden="true" onclick="rr()" style="color:green; cursor: pointer;padding-bottom: 23px;padding-left: 1px;"></i>
										<div class="row" style="padding-bottom:5px;margin-top:5px;padding-right:10px">
											<div class="table-responsive text-nowrap" style="margin-top: -20px;">
												<table class="table table-bordered table-sm">
													<thead style="background: #c1c1c1;">
														<tr class="text-nowrap">
															<th style="width: 50px;">Action</th>
															<th>Dr/Cr</th>
															<th>Base Dataset</th>
															<th>Target Dataset</th>
															<th>Order</th>
															<th>Status</th>
															<th>Target-Grouping</th>
														</tr>
													</thead>
													<tbody>
														<tr style="height:25px;">
															<td align="center"><i data-bs-toggle="modal" onclick="rr()" data-bs-target="#base_identifier" class="fa fa-pencil cursor-pointer" aria-hidden="true" style="font-size: 12px;color: #5490ff;"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-trash" style="font-size: 12px;color: red;" aria-hidden="true"></i></td>
															<td>Credit</td>
															<td>HDFC Bank - 123456</td>
															<td>HDFC Ledger - 00234123</td>
															<td>1</td>
															<td>Active</td>
															<td>
																<a data-bs-toggle="modal" style=" cursor:pointer" onclick="rr8()">
																	Select
																</a>
															</td>
														</tr>
														<tr style="height:25px;">
															<td align="center"><i data-bs-toggle="modal" onclick="rr()" data-bs-target="#base_identifier" class="fa fa-pencil cursor-pointer" aria-hidden="true" style="font-size: 12px;color: #5490ff;"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-trash" style="font-size: 12px;color: red;" aria-hidden="true"></i></td>
															<td>Debit</td>
															<td>HDFC Ledger - 00234123</td>
															<td>HDFC Bank - 123456</td>
															<td>2</td>
															<td>Active</td>
															<td>
																<a data-bs-toggle="modal" style=" cursor:pointer" onclick="rr8()">
																	Select
																</a>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
											<div id="collapseOne" class=".panel-collapse" role="tabpanel" style="display:none">
												<div class="col-sm-12" style="text-align:right">
													<button type="submit" class="btn btn-sm btn-success me-2" style="border-color: Green;width:14%;" onclick="IdentifierConfig()">Identifier Config</button>&nbsp;&nbsp;&nbsp;
												</div>
												<div class="row" style="padding-bottom:5px;margin-top:5px;padding-right:10px">
													<div class="col-sm-4">
														<label for="" class="form-label">
															Base Dataset
														</label>
														<select id="mode" class="form-select form-control">
															<option value="1" selected>409000472606-Hdfc CC- Bank </option>
															<option value="2">Account2</option>
															<option value="3">Account3</option>
														</select>
													</div>
													<div class="col-sm-4">
														<label for="" class="form-label">
															Target Dataset
														</label>
														<select id="mode" class="form-select form-control">
															<option value="1" selected>409000472606-Hdfc CC- Bank </option>
															<option value="2">Account2</option>
															<option value="3">Account3</option>
														</select>
													</div>
													<div class="col-sm-4">
														<label for="" class="form-label">Order</label>
														<input class="form-control" id="order" name="order" type="text" value="2" data-bind="value:order">
													</div>

												</div>
												<div class="row" style="padding-bottom:5px;margin-top:5px;padding-right:10px">
													<div class="col-sm-4">
														<label for="" class="form-label">Account Mode</label>
														<select id="mode" class="form-select form-control">
															<option value="1" selected>Credit</option>
															<option value="2">Saving</option>
														</select>
													</div>
													<div class="col-sm-4">
														<label for="" class="form-label">Status</label>
														<div style="margin-left:2px;margin-top:5px">
															<input type="radio" id="Status" name="Status3" value="Y" checked>&nbsp;&nbsp;Active&nbsp;
															<input type="radio" id="Status" style="margin-left: 10px;" name="Status3" value="N">&nbsp;&nbsp;InActive&nbsp;
														</div>
													</div>

													<div class="col-sm-4" style="margin-top: 2%;text-align: right;">
														<button type="submit" class="btn btn-sm btn-success me-2" style="background: #38b55a;border-color: #38b55a;width:40%">Save</button>&nbsp;&nbsp;&nbsp;
														<button type="submit" class="btn btn-sm btn-success me-2" data-bs-dismiss="modal" style="background: red;border-color: red;width:40%" onclick="rr1()">Cancel</button>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-4"></div>
												<div class="col-sm-4"></div>
												<div class="col-sm-4" style="margin-top:2%;">
													<input type="button" name="next" class="next action-button" value="Next" onclick="validateNextRemarks1();" />
													<input type="button" name="previous" class="previous action-button-previous" value="Previous" onclick="validatepreviousRemarks()" />
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="navs-pills-top-identifier" role="tabpanel" style="margin-top:-10px;">
								<div class="panel panel-default">
									<div class="panel-body">
										<div class="row" style="padding-bottom:5px;margin-top:5px;padding-right:10px">
											<div class="table-responsive text-nowrap" style="margin-top: -20px;">
												<i class="fa fa-plus cursor-pointer" aria-hidden="true" style="color:green; cursor: pointer" onclick="rr2()"></i>
												<table class="table table-bordered table-sm">
													<thead style="background: #c1c1c1;">
														<tr class="text-nowrap">
															<th style="width: 50px;">Action</th>
															<th>Filter Applied On</th>
															<th>Filter Field</th>
															<th>Filter Criteria</th>
															<th>Identifier Criteria</th>
															<th>Identifier Value</th>
															<th>Status</th>
														</tr>
													</thead>
													<tbody>
														<tr style="height:25px;">
															<td align="center"><i data-bs-toggle="modal" data-bs-target="#viewdebit" onclick="rr2()" class="fa fa-pencil cursor-pointer" aria-hidden="true" style="font-size: 12px;color: #5490ff; cursor:pointer"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-trash" style="font-size: 12px;color: red; cursor:pointer" aria-hidden="true"></i></td>
															<td>Base-HDFC Bank - 123456</td>
															<td>Narration	</td>
															<td>EXACT	</td>
															<td>BEGINS WITH	</td>
															<td>CASH DEP	</td>
															<td>Active</td>
														</tr>
													</tbody>
													<tbody>
														<tr style="height:25px;">
															<td align="center"><i data-bs-toggle="modal" data-bs-target="#viewdebit" onclick="rr2()" class="fa fa-pencil cursor-pointer" aria-hidden="true" style="font-size: 12px;color: #5490ff; cursor:pointer"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-trash" style="font-size: 12px;color: red; cursor:pointer" aria-hidden="true"></i></td>
															<td>Target-HDFC Ledger - 00234123</td>
															<td>Cheque No	</td>
															<td>EXACT	</td>
															<td>CONTAINS	</td>
															<td>ERP	</td>
															<td>Active</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div id="collapsetwo" class=".panel-collapse" role="tabpanel" style="display:none">
									<div class="row" style="padding-bottom:5px;margin-top:5px">
										<div class="col-sm-4">
											<label for="" class="form-label">
												Filter Apply On
											</label>
											<select id="mode" class="form-select form-control">
												<option value="1" selected>Field1</option>
												<option value="2">Field2</option>
												<option value="3">Field3</option>
											</select>
										</div>

										<div class="col-sm-4">
											<label for="" class="form-label">
												Filter Name
											</label>
											<select id="mode" class="form-select form-control">
												<option value="1" selected>Name1</option>
												<option value="2">Name2</option>
												<option value="3">Name3</option>
											</select>
										</div>
										<div class="col-sm-4">
											<label for="" class="form-label">External Criteria</label>
											<input class="form-control" id="order" name="order" type="text" value="" data-bind="value:order">
										</div>
									</div>
									<div class="row" style="padding-bottom:5px;margin-top:5px;">

										<div class="col-sm-4">
											<label for="" class="form-label">
												Extraction Filter
											</label>
											<input class="form-control" id="order" name="order" type="text" value="" data-bind="value:order">
										</div>
										<div class="col-sm-4">
											<label for="" class="form-label">Identifier Criteria</label>
											<input class="form-control" id="order" name="order" type="text" value="" data-bind="value:order">
										</div>
										<div class="col-sm-4">
											<label for="" class="form-label">Identifier value</label>
											<input class="form-control" id="order" name="order" type="text" value="" data-bind="value:order">
										</div>
									</div>
									<div class="row" style="padding-bottom:5px;margin-top:5px;">
										<div class="col-sm-4">
											<label for="" class="form-label">Status</label>
											<div style="margin-left:2px;margin-top:5px">
												<input type="radio" id="Status" name="Status4" value="Y" checked>&nbsp;&nbsp;Active&nbsp;
												<input type="radio" id="Status" style="margin-left: 10px;" name="Status4" value="N">&nbsp;&nbsp;InActive&nbsp;
											</div>
										</div>
										<div class="col-sm-4">
										</div>
										<div class="col-sm-4" style="margin-top:3%;">
											<button type="submit" class="btn btn-sm btn-success me-2" style="background: green ;border-color: Green;width:40%">Save</button>&nbsp;&nbsp;&nbsp;
											<button type="submit" class="btn btn-sm btn-success me-2" data-bs-dismiss="modal" style="background: red;border-color: red;width:40%" onclick="rr3()">Cancel</button>

										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-4"></div>
									<div class="col-sm-4"></div>
									<div class="col-sm-4" style="margin-top:2%;">
										<input type="button" name="previous" class="previous action-button-previous" value="Back" onclick="validatepreviousidentifier()" />
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="navs-pills-top-genericcondition" role="tabpanel" style="margin-top:-25px;">
								<div class="panel panel-default">
									<div class="panel-body" style="padding: 10px 0px;">
										<table class="table table-bordered table-sm">
											<thead style="background: #c1c1c1;">
												<tr class="text-nowrap">
													<th>Base Field</th>
													<th>Extraction Criteria</th>
													<th>Target Field</th>
													<th>Comparison criteria</th>
													<th>Status</th>
												</tr>
											</thead>
											<tbody>
												<tr style="height:25px;">
													<td>Tran Date</td>
													<td>EXACT</td>
													<td>Tran Date</td>
													<td>EXACT</td>
													<td>Active</td>
												</tr>
												<tr style="height:25px;">
													<td>Branch Code</td>
													<td>EXACT</td>
													<td>Branch Code</td>
													<td>EXACT</td>
													<td>Active</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="row">
										<div class="col-sm-4"></div>
										<div class="col-sm-4"></div>
										<div class="col-sm-4" style="margin-top:2%;">
											<input type="button" name="previous" class="previous action-button-previous" value="Previous" onclick="validatepreviousgenericcondition()" />
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="navs-pills-top-target-grouping" role="tabpanel" style="margin-top:-25px;">
								<div class="panel panel-default">
									<div class="panel-body" style="padding: 10px 0px;">
										<i class="fa fa-plus cursor-pointer" aria-hidden="true" style="color:green; cursor: pointer" onclick="rr5()"></i>
										<table class="table table-bordered table-sm">
											<thead style="background: #c1c1c1;">
												<tr class="text-nowrap">
													<th style="width: 50px;">Action</th>
													<th>Sl No</th>
													<th>Target Group Field</th>
													<th>Status</th>
												</tr>
											</thead>
											<tbody>
												<tr style="height:25px;">
													<td align="center"><i data-bs-toggle="modal" data-bs-target="#viewdebit" onclick="rr5()" class="fa fa-pencil cursor-pointer" aria-hidden="true" style="font-size: 12px;color: #5490ff; cursor:pointer"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-trash" style="font-size: 12px;color: red; cursor:pointer" aria-hidden="true"></i></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr style="height:25px;">
													<td align="center"><i data-bs-toggle="modal" data-bs-target="#viewdebit" onclick="rr5()" class="fa fa-pencil cursor-pointer" aria-hidden="true" style="font-size: 12px;color: #5490ff; cursor:pointer"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-trash" style="font-size: 12px;color: red; cursor:pointer" aria-hidden="true"></i></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
											</tbody>
										</table>
									</div>
									<div id="collapsethree" class=".panel-collapse" role="tabpanel" style="display:none">
										<div class="row" style="padding-bottom:5px;margin-top:5px;padding-left:10px;padding-right:10px">
											<div class="col-sm-4">
												<label for="" class="form-label">Target Group Field Name</label>
												<select id="mode" class="form-select form-control">
													<option value="1" selected>AC No</option>
													<option value="2">Amount</option>
													<option value="3">Application Name</option>
												</select>
											</div>
											<div class="col-sm-4">
												<label for="" class="form-label">Status</label>
												<div style="margin-left:2px;margin-top:5px">
													<input type="radio" id="Status" name="Status" value="Y" checked>&nbsp;&nbsp;Active&nbsp;
													<input type="radio" id="Status" style="margin-left: 10px;" name="Status" value="N">&nbsp;&nbsp;InActive&nbsp;
												</div>
											</div>
											<div class="col-sm-4" style="margin-top: 2%;">
												<button type="submit" class="btn btn-sm btn-success me-2" style="background: #38b55a;border-color: #38b55a;width:40%">Save</button>&nbsp;&nbsp;&nbsp;
												<button type="submit" class="btn btn-sm btn-success me-2" data-bs-dismiss="modal" style="background: red;border-color: red;width:40%" onclick="rr6()">Cancel</button>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-4"></div>
										<div class="col-sm-4"></div>
										<div class="col-sm-4" style="margin-top:2%;">
											<input type="button" name="previous" class="previous action-button-previous" value="Back" onclick="validateprevioustargetgrouping()" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

<script type="text/javascript">
	$(document).ready(function () {
		$("#navhead").text("Apply Rule Setup");
		$("#identifier").hide();
		$("#target-grouping").hide();
	});
	function rr() {
		$("#collapseOne").show();
	}
	function rr1() {
		$("#collapseOne").hide();

	}
	function rr2() {
		$("#collapsetwo").show();
	}
	function rr3() {
		$("#collapsetwo").hide();
	}
	function rr5() {
		$("#collapsethree").show();
	}
	function rr6() {
		$("#collapsethree").hide();
	}
	
	function rr8() {
		$("#target-grouping").show();
		$("#base").removeClass('nav-link active');
		$("#base").toggleClass('nav-link');
		$("#navs-pills-top-target-grouping").toggleClass('tab-pane fade active in');
		$("#navs-pills-top-base").toggleClass('tab-pane fade');
		$("#navs-pills-top-Rule").toggleClass('tab-pane fade');
		$("#navs-pills-top-target-grouping").show();
		$("#target-grouping").removeClass('nav-link');
		$("#target-grouping").toggleClass('nav-link active');
		$("#navs-pills-top-base").hide();
	}

	function validateNextRemarks() {
		$("#rule").removeClass('nav-link active');
		$("#rule").toggleClass('nav-link');
		$("#base").removeClass('nav-link');
		$("#base").toggleClass('nav-link active');
		$("div#navs-pills-top-base").toggleClass('tab-pane fade active in');
		$("div#navs-pills-top-Rule").toggleClass('tab-pane fade');
		$("#navs-pills-top-Rule").hide();
		$("#navs-pills-top-base").show();
		$("#navs-pills-top-genericcondition").hide();
	}
	function validatepreviousRemarks() {
		$("#base").removeClass('nav-link active');
		$("#base").toggleClass('nav-link');
		$("#rule").removeClass('nav-link');
		$("#rule").toggleClass('nav-link active');
		$("div#navs-pills-top-Rule").toggleClass('tab-pane fade active in');
		$("div#navs-pills-top-base").toggleClass('tab-pane fade');
		$("#navs-pills-top-base").hide();
		$("#navs-pills-top-Rule").show();
	}
	function IdentifierConfig() {
		$("#identifier").show();
		$("#base").removeClass('nav-link active');
		$("#base").toggleClass('nav-link');
		$("#navs-pills-top-identifier").toggleClass('tab-pane fade active in');
		$("#navs-pills-top-base").toggleClass('tab-pane fade');
		$("#navs-pills-top-Rule").toggleClass('tab-pane fade');
		$("#navs-pills-top-identifier").show();
		$("#identifier").removeClass('nav-link');
		$("#identifier").toggleClass('nav-link active');
		$("#navs-pills-top-base").hide();
	}
	function validatepreviousidentifier() {
		$("#identifier").hide();
		$("#navs-pills-top-identifier").hide();
		$("#base").removeClass('nav-link');
		$("#base").toggleClass('nav-link active');
		$("#navs-pills-top-base").toggleClass('tab-pane fade active in');
		$("#navs-pills-top-identifier").toggleClass('tab-pane fade')
		$("#navs-pills-top-Rule").toggleClass('tab-pane fade');
		$("#navs-pills-top-base").show();
	}
	function validateNextRemarks1() {
		$("#base").removeClass('nav-link active');
		$("#base").toggleClass('nav-link');
		$("#genericcondition").removeClass('nav-link');
		$("#genericcondition").toggleClass('nav-link active');
		$("div#navs-pills-top-base").toggleClass('tab-pane fade');
		$("div#navs-pills-top-Rule").toggleClass('tab-pane fade');
		$("#navs-pills-top-base").hide();
		$("div#navs-pills-top-genericcondition").toggleClass('tab-pane fade active in');
		$("#navs-pills-top-genericcondition").show();
	}
	function validatepreviousgenericcondition() {
		$("#base").removeClass('nav-link');
		$("#base").toggleClass('nav-link active');
		$("#genericcondition").removeClass('nav-link  active');
		$("#genericcondition").toggleClass('nav-link');
		$("div#navs-pills-top-genericcondition").toggleClass('tab-pane fade');
		$("div#navs-pills-top-base").toggleClass('tab-pane fade active in')
		$("div#navs-pills-top-Rule").toggleClass('tab-pane fade');
		$("#navs-pills-top-genericcondition").hide();
		$("#navs-pills-top-base").show();
	}
	function validateprevioustargetgrouping() {
		$("#target-grouping").hide();
		$("#navs-pills-top-target-grouping").hide();
		$("#base").removeClass('nav-link');
		$("#base").toggleClass('nav-link active');
		$("#navs-pills-top-base").toggleClass('tab-pane fade active in');
		$("#navs-pills-top-target-grouping").toggleClass('tab-pane fade')
		$("#navs-pills-top-Rule").toggleClass('tab-pane fade');
		$("#navs-pills-top-base").show();
	}
</script>