@{
	ViewData["Title"] = "Rulesetup";
	Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<!Doctype html>
<html>
<head>
	<title></title>
	<style>
		.error_show {
			color: red;
			margin-left: 10px;
		}

		.k-grid.k-widget {
			height: 360px;
		}

		.k-grid-header th.k-header > .k-link {
			width: 100px;
		}

		.k-grid-header {
			font-weight: bold;
		}

		.k-state-active {
			display: none;
		}

		.k-content {
			font-weight: normal;
			font-size: 13px;
		}

		.k-widget.k-window {
			padding-top: 35px;
			min-width: 90px;
			min-height: 50px;
			width: 700px !important;
			height: 300px !important;
			top: 180.766px !important;
			/*left: 120px !important;*/
			z-index: 10003;
			left: 300px !important;
		}
	</style>
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
	<div class="content-wrapper">
		<div class="container-xxl flex-grow-1 container-p-y">
			<div class="card-body" style="margin-top:-33px;">
				<div class="row" style="margin-top:10px">
					<div class="table-responsive text-nowrap" style="margin-top: -20px;">
						<i onclick="window.location.href = '/Rulesetup/Rulesetupdetail'" class="fa fa-plus cursor-pointer" aria-hidden="true" style="color:green; cursor: pointer"></i>
						<table class="table table-bordered table-sm">
							<thead style="background: #c1c1c1;">
								<tr class="text-nowrap">
									<th>Action</th>
									<th>Recon Name</th>
									<th>Rule</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>
								<tr style="height:25px;">
									<td align="center"><i data-bs-toggle="modal" data-bs-target="#viewdebit" class="fa fa-pencil cursor-pointer" aria-hidden="true" style="font-size: 12px;color: #5490ff;"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-trash" style="font-size: 12px;color: red;" aria-hidden="true"></i></td>
									<td>Hdfc BRS-123456</td>
									<td>Hdfc CC- UPI Collection From Customer	</td>
									<td>
										Active
									</td>
								</tr>
								<tr style="height:25px;">
									<td align="center"><i data-bs-toggle="modal" data-bs-target="#viewdebit" class="fa fa-pencil cursor-pointer" aria-hidden="true" style="font-size: 12px;color: #5490ff;"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-trash" style="font-size: 12px;color: red;" aria-hidden="true"></i></td>
									<td>Hdfc BRS-123456	</td>
									<td>Hdfc CC- IMPS Collection From Customer	</td>
									<td>
										Active
									</td>
								</tr>
							</tbody>
						</table>
					</div>

				</div>
			</div>
		</div>
	</div>

</body>
</html>
<script type="text/javascript">

	$(document).ready(function () {
		$("#navhead").text("Rule Setup");
		kendodate_format();
	});

	function rr1() {
		$("#newdebit").hide();
	}

</script>
