@{
	Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<!Doctype html>
<html>
<head>
	<title></title>
	<style>
		.nav-item.me-2.me-xl-50 {
			margin-right: 33rem !important;
		}

		.error_show {
			color: red;
			margin-left: 10px;
		}

		.k-grid.k-widget {
			height: 360px;
		}

		.k-grid-header {
			font-weight: bold;
		}

		.k-state-active {
			display: none;
		}

		.k-content {
			font-weight: normal;
			font-size: 13px;
		}

		.k-widget.k-window {
			padding-top: 35px;
			min-width: 90px;
			min-height: 50px;
			width: 700px !important;
			height: 300px !important;
			top: 180.766px !important;
			/*left: 120px !important;*/
			z-index: 10003;
			left: 300px !important;
		}
	</style>
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
	<div class="content-wrapper">
		<div class="container-xxl flex-grow-1 container-p-y">
			<div class="card-body" style="margin-top:-1%;min-height: 82%;">
				<div class="row" style="margin-top:10px">
					<div class="col-xs-12">
						<a href='' onclick='getSerializedRows()' data-bs-toggle='modal'><i class="fa fa-plus cursor-pointer" aria-hidden="true" style="color:green;font-size:15px;"></i></a>
						<div id="grid_rulesetup">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
<script type="text/javascript">

	$(document).ready(function () {
		$("#navhead").text("Rule Setup");
		kendodate_format();
		grid_rulesetup_details([]);
		var data = {};		
		data.in_user_code = '';
		var Context = data;
		$.ajax({
			type: "POST",
			url: '/Rulesetup/Rulesetuplistfetch',
			dataType: 'json',
			data: JSON.stringify({ in_user_code: Context.in_user_code }),
			contentType: 'application/json; charset=utf-8',
			success: function (response) {
				if (response != null) {
					grid_rulesetup_details(response);
				}
				else {
					grid_rulesetup_details([]);
				}
			},
			error: function (er) {
				alert(er)
				console.log(er)
			}

		});
	});

	function rr1() {
		$("#newdebit").hide();
	}
	function grid_rulesetup_details(data) {
		try {
			$("#grid_rulesetup").kendoGrid({
				dataSource: {
					data: data,
					pageSize: 10,
					schema: {
						model: {
							fields: {
								rule_gid: { type: "string" },
								rule_code: { type: "string" },
								rule_name: { type: "string" },
								recon_code: { type: "string" },
								recon_name: { type: "string" },
								active_status: { type: "string" },
								active_status_desc: { type: "string" }
							}
						}
					}
				},
				height: 500,
				groupable: false,
				dataBound: function (e) {
					resultData = e.sender._data;
					var rows = $('#grid_rulesetup').data('kendoGrid').tbody.children();
					setColor(rows, resultData);
				},
				pageable: {
					refresh: false,
					pageSizes: true,
					buttonCount: 5
				},
				sortable: true,
				selectable: true,
				filterable: true,
				navigatable: true,
				change: selectRow,
				columns: [{
					command: [
						{
							name: "edit",
							id: "btn_Edit",
							template: "<a href='' onclick='getSerializedSelectedRows(this)' value='edit' data-bs-toggle='modal'><img src = '../Assets/images/editicons.png'></a>&nbsp;&nbsp;&nbsp;",
						},
						{
							name: "view",
							id: "View",
							template: "<a href=''onclick='getSerializedSelectedRows(this)' value='view' data-bs-toggle='modal'><img src = '../Assets/images/viewicons.png'></a>&nbsp;&nbsp;&nbsp;",
						},
						{
							name: "Delete",
							id: "Delete",
							template: "<a href='' onclick='myDeleteJs()' data-bs-toggle='modal'><img src = '../Assets/images/del.png'></a>&nbsp;&nbsp;&nbsp;",
						},
					], title: "Action&nbsp;", width: "50px",
				},
				{
					field: "rule_gid",
					title: "Row id",
					width: 100,
					hidden: true,
				},

				{
					field: "rule_code",
					title: "Rule Code",
					width: 100,
				},
				{
					field: "rule_name",
					title: "Rule Name",
					width: 100,
				},
				{
					field: "recon_code",
					title: "Recon Code",
					width: 100,
				},
				{
					field: "recon_name",
					title: "Recon Name",
					width: 100,
				},
				{
					field: "active_status",
					title: "Status",
					width: 100,
					hidden: true
				},
				{
					field: "active_status_desc",
					title: "Status",
					width: 100,
				},
				{
					field: "In_mode_flag",
					title: "Mode",
					hidden: true
				}],
				editable: false,

			});
		}
		catch (err) {
			console.log(err)

		}
	}
	function getSerializedRows() {
		btn_onClick('Create');
		document.location = "../Rulesetup/Rulesetupdetail";
	}
	function getSerializedSelectedRows(mode) {
		try {
			if (getlocalStorage("ls_pageList") != undefined || getlocalStorage("ls_pageList") != "") {
				var items = getlocalStorage("ls_pageList");
				if (items.length == 0) {
					kendoAlert("Please select records");
				}
				else {
					if ($(mode).attr('value') == "edit") {
						btn_onClick("Edit");
						document.location = '../Rulesetup/Rulesetupdetail';
					}
					else if (mode == "view") {
						btn_onClick('View');
						document.location = "../Rulesetup/Rulesetupdetail";
					}
				}
			}
		}
		catch (err) {

		}
	}
	function selectRow() {
		try {
			var grid = $("#grid_rulesetup").data("kendoGrid");
			var selectedItem = grid.dataItem(grid.select());
			setlocalStorage("ls_pageList", selectedItem);
		}
		catch (err) {

		}
	}
</script>
