@{
	Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<!Doctype html>
<html>
<head>
	<title></title>
	<style>
		.nav-item.me-2.me-xl-50 {
			margin-right: 33rem !important;
		}
	</style>
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
	<div class="content-wrapper">
		<div class="container-xxl flex-grow-1 container-p-y">
			<div class="card-body" style="margin-top:-1%;">
				<div class="row" style="margin-top:10px;margin-bottom: 2%;">
					<div class="col-md-3">
						<label for="organization" class="form-label">Recon Name</label><br>
						<select id="mode" class="form-select form-control">
							<option value="A">CUB CC BRS - 113120000100488 </option>
							<option value="I"> SBI CC BRS - 40904776466</option>
							<option value="I"> Indusind CA BRS - 201003823096</option>
							<option value="I"> HDFC CC BRS - 50200064486821</option>
						</select>

					</div>
					<div class="col-md-3">
						<label for="organization" class="form-label">KO Id</label><br>
						<input class="form-control" name="koid" value="" />
					</div>
					<div class="col-md-2" style="margin-top: 2%;">
						<button type="submit" class="btn btn-sm btn-success me-2" style="background: #38b55a;border-color: #38b55a;width:40%;margin-top: 7px">
							Run
						</button>

					</div>
					<div class="col-md-2">
						

					</div>
					<div class="col-md-2" >
						
					</div>
				</div>

				<div class="row">
					<table class="table table-bordered table-sm">
						<thead style="background: #c1c1c1;">
							<tr class="text-nowrap">
								<th style="width: 50px;">Action</th>
								<th>KO Id</th>
								<th>KO date</th>
								<th>Recon Name</th>
								<th>Rule Name</th>
								<th>KnockOff Type</th>
								<th>KnockOff By</th>
								<th>KnockOff Amount</th>
							</tr>
						</thead>
						<tbody>
							<tr style="height:25px;">
								<td align="center"> </td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr style="height:25px;">
								<td align="center"> </td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
				
			</div>
		</div>
	</div>
</body>
</html>
<script type="text/javascript">
	$(document).ready(function () {
		$("#navhead").text("Undo Posting & Knockoff");
		kendodate_format();
	});
</script>