@{
	Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<!Doctype html>
<html>
<head>
	<title></title>
	<style>
		.nav-item.me-2.me-xl-50 {
			margin-right: 33rem !important;
		}
	</style>
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
	<div class="content-wrapper">
		<div class="container-xxl flex-grow-1 container-p-y">
			<div class="card-body" style="margin-top:-1%;">
				<div class="row" style="margin-top:10px;margin-bottom: 2%;">

				
					<div class="col-md-3">
						<label for="organization" class="form-label">Recon Name</label><br>
						<select id="mode" class="form-select form-control">
							<option value="A">CUB CC BRS - 113120000100488 </option>
							<option value="I"> SBI CC BRS - 40904776466</option>
							<option value="I"> Indusind CA BRS - 201003823096</option>
							<option value="I"> HDFC CC BRS - 50200064486821</option>
						</select>

					</div>
					<div class="col-md-3" style="margin-top: 2%;">
						<button type="submit" class="btn btn-sm btn-success me-2" style="background: #38b55a;border-color: #38b55a;margin-top: 7px">
							Generate Report
						</button> &nbsp;&nbsp;
						
					</div>
					<div class="col-md-3">
					</div>
					<div class="col-md-3">
					</div>

				</div>

				
			</div>
		</div>
	</div>
</body>
</html>
<script type="text/javascript">
	$(document).ready(function () {
		$("#navhead").text("Reports");
		kendodate_format();
	});
</script>