@{
	Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<!Doctype html>
<html>
<head>
	<title></title>
	<style>
		.nav-item.me-2.me-xl-50 {
			margin-right: 28rem !important;
		}
	</style>
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
	<div class="content-wrapper">
		<div class="container-xxl flex-grow-1 container-p-y">
			<div class="card-body" style="margin-top:-1%;">
				<div class="row" style="margin-top:10px;margin-bottom: 2%;">
					<div class="col-md-3">
						<label for="" class="form-label">
							Date From
						</label>
						<div>
							<input class="cusDate" data-role='datepicker' id="initiated_from" name="initiated_from" onclick="Dateformat()" style="width:100%" />
							<span data-for='valid' class='k-invalid-msg'></span>
						</div>
					</div>
					<div class="col-md-3">
						<label for="" class="form-label">
							Date To
						</label>
						<div>
							<input class="cusDate" data-role='datepicker' id="initiated_from" name="initiated_from" onclick="Dateformat()" style="width:100%" />
							<span data-for='valid' class='k-invalid-msg'></span>
						</div>
					</div>
					<div class="col-md-3" style="margin-top: 2%;">
						<button type="submit" class="btn btn-sm btn-success me-2" style="background: #38b55a;border-color: #38b55a;width:40%;margin-top: 7px">
							Post
						</button>
					</div>
					<div class="col-md-3">
						
					</div>
				</div>
			
				<div class="row">
					<table class="table table-bordered table-sm">
						<thead style="background: #c1c1c1;">
							<tr class="text-nowrap">
								<th style ="width: 50px;">Select</th>
								<th>Recon Name</th>
								<th style="display:none">Dataset1</th>
								<th style="display:none">Dataset2</th>
								<th>Recon Type</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<tr style="height:25px;">
								<td align="center">
									<input type="checkbox" id="select" style="margin-left: 10px;" name="" value="P">

								</td>
								<td>KVB CC BRS - 1219221000000189	</td>
								<td style="display:none">1219221000000189-KVB CC- Bank	</td>
								<td style="display:none">12150505-KVB CC- Oracle Ledger	</td>
								<td> Brs	 </td>
								<td> Active </td>
							</tr>
							<tr style="height:25px;">
								<td align="center">
									<input type="checkbox" id="select" style="margin-left: 10px;" name="" value="P">

								</td>
								<td>CUB CC BRS - 113120000100488	</td>
								<td style="display:none">113120000100488-CUB CC- Bank		</td>
								<td style="display:none">12150101-CUB CC- Oracle Ledger	</td>
								<td> Brs </td>
								<td> Active </td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<script type="text/javascript">
	$(document).ready(function () {
		$("#navhead").text("File Posting - Rule based");
		kendodate_format();
	});
</script>