@{
	ViewData["Title"] = "DataSetList";
	Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<!Doctype html>
<html>
<head>
	<title></title>
	<style>
		.error_show {
			color: red;
			margin-left: 10px;
		}

		.k-grid.k-widget {
			height: 360px;
		}

		.k-grid-header th.k-header > .k-link {
			width: 100px;
		}

		.k-grid-header {
			font-weight: bold;
		}

		.k-state-active {
			display: none;
		}

		.k-content {
			font-weight: normal;
			font-size: 13px;
		}

		.k-widget.k-window {
			padding-top: 35px;
			min-width: 90px;
			min-height: 50px;
			width: 700px !important;
			height: 300px !important;
			top: 180.766px !important;
			/*left: 120px !important;*/
			z-index: 10003;
			left: 300px !important;
		}
	</style>
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
	<div class="content-wrapper">
		<div class="container-xxl flex-grow-1 container-p-y">
			<div class="card-body" style="margin-top:-33px;">
				<div class="row" style="margin-top:10px">
					<div class="col-xs-12">
						<a href="../DataSet/DataSetForm"><i class="fa fa-plus cursor-pointer" aria-hidden="true" style="color:green;font-size:15px;"></i></a>
						<div id="grid_dataset">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<script>
	$(document).ready(function () {
		$("#navhead").text("Dataset");
		setlocalStorage("ls_pageList", "");
		grid_dataset_details([]);
		var data = {};
		data.in_user_gid = 0;
		data.in_active_status = '';
		var Context = data;
		$.ajax({
			type: "POST",
			url: '/DataSet/Datasetlistfetch',
			dataType: 'json',
			data: JSON.stringify({ in_user_gid: Context.in_user_gid, in_active_status: Context.in_active_status }),
			contentType: 'application/json; charset=utf-8',
			success: function (response) {
				if (response != null) {
					grid_dataset_details(response);
				}
				else {
					grid_dataset_details([]);
				}
			},
			error: function (er) {
				alert(er)
				console.log(er)
			}

		});
	});
	function grid_dataset_details(data) {
		try {
			$("#grid_dataset").kendoGrid({
				dataSource: {
					data: data,
					schema: {
						model: {
							fields: {
								dataset_code: { type: "string" },
								dataset_name: { type: "string" },
								category: { type: "string" },
								status: { type: "string" }
							}
						}
					}
				},
				height: 400,
				groupable: false,
				dataBound: function (e) {
					resultData = e.sender._data;
					var rows = $('#grid_dataset').data('kendoGrid').tbody.children();
					setColor(rows, resultData);
				},
				sortable: true,
				selectable: true,
				filterable: true,
				navigatable: true,
				change: selectRow,
				columns: [{
					command: [
						{
							name: "edit",
							id: "btn_Edit",							
							template: "<a href='' onclick='getSerializedSelectedRows(this)' value='edit' data-bs-toggle='modal'><img src = '../Assets/images/editicons.png'></a>&nbsp;&nbsp;&nbsp;",
						
						},
						{
							name: "view",
							id: "View",
							template: "<a href=''onclick='getSerializedSelectedRows(this)' value='view'><img src = '../Assets/images/viewicons.png'></a>&nbsp;&nbsp;&nbsp;",
							
						},
						{
							name: "Delete",
							id: "Delete",
							template: "<a href=''><img src = '../Assets/images/del.png' href='../DataSet/DataSetForm'></a>&nbsp;&nbsp;&nbsp;"
						},
					], title: "Action&nbsp;", width: "40px",
				},
				{
					field: "dataset_id",
					title: "Row id",
					width: 100,
					hidden: true,
				},

				{
					field: "datasetCode",
					title: "Dataset Code",
					width: 100,
				},
				{
					field: "dataset_name",
					title: "Dataset Name",
					width: 100,
				},
				{
					field: "dataset_category",
					title: "Category",
					width: 100,
				},
				{
					field: "active_status",
					title: "Status",
					width: 100,
					hidden: true
				},
				{
					field: "active_status_desc",
					title: "Status",
					width: 100,
				},
				{
					field: "In_mode_flag",
					title: "Mode",
					hidden: true
				}],
				editable: false,

			});
		}
		catch (err) {
			console.log(err)

		}
	}

	function getSerializedSelectedRows(mode) {
		try {
			if (getlocalStorage("ls_pageList") != undefined) {
				var items = getlocalStorage("ls_pageList");
				if (items.length == 0) {
					kendoAlert("Please select records");
				}
				else {
					if ($(mode).attr('value') == "edit") {
						btn_onClick("Edit");
						document.location = '../DataSet/DataSetForm';
					}
					else if (mode == "view") {
						btn_onClick('View');
						document.location = "../DataSet/DataSetForm";
					}
				}
			}
		}
		catch (err) {

		}
	}
	function selectRow() {
		try {
			var grid = $("#grid_dataset").data("kendoGrid");
			var selectedItem = grid.dataItem(grid.select());
			setlocalStorage("ls_pageList", selectedItem);
		}
		catch (err) {

		}
	}
</script>
