@{
	ViewData["Title"] = "Filetemplate";
	Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<!Doctype html>
<html>
<head>
	<title></title>
	<style>
		.nav-item.me-2.me-xl-50 {
			margin-right: 33rem !important;
		}

		.error_show {
			color: red;
			margin-left: 10px;
		}

		.k-grid.k-widget {
			height: 360px;
		}

		.k-grid-header th.k-header > .k-link {
			width: 100px;
		}

		.k-grid-header {
			font-weight: bold;
		}

		.k-state-active {
			display: none;
		}

		.k-content {
			font-weight: normal;
			font-size: 13px;
		}

		.k-widget.k-window {
			padding-top: 35px;
			min-width: 90px;
			min-height: 50px;
			width: 700px !important;
			height: 300px !important;
			top: 180.766px !important;
			/*left: 120px !important;*/
			z-index: 10003;
			left: 300px !important;
		}
	</style>
</head>

<body class="hold-transition skin-blue sidebar-mini fixed">
	<div class="content-wrapper">
		<div class="container-xxl flex-grow-1 container-p-y">
			<div class="card-body" style="margin-top:-33px;">
				<div class="row" style="margin-top:10px">
					<i onclick="window.location.href = '/Filetemplate/Filetemplatedetails'" class="fa fa-plus cursor-pointer" aria-hidden="true" style="color:green;padding-bottom:8px"></i>
					<table class="table table-bordered table-sm">
						<thead style="background: #c1c1c1;">
							<tr class="text-nowrap">
								<th style ="width: 50px;">Action</th>
								<th>Template Code</th>
								<th>Template Name</th>
								<th>Template Type</th>
								<th>Support File</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<tr style="height:25px;">
								<td align="center">
									<i data-bs-toggle="modal" data-bs-target="#viewdebit" class="fa fa-pencil cursor-pointer" aria-hidden="true" style="font-size: 12px;color: #5490ff;"></i>
								</td>
								<td>1</td>
								<td>Hdfc Bank Template-67890</td>
								<td>Excel</td>
								<td>Transaction File</td>
								<td> Active </td>
							</tr>
							<tr style="height:25px;">
								<td align="center">
									<i data-bs-toggle="modal" data-bs-target="#viewdebit" class="fa fa-pencil cursor-pointer" aria-hidden="true" style="font-size: 12px;color: #5490ff;"></i>
								</td>
								<td>2</td>
								<td>Invoice Template-Gnsa</td>
								<td> Excel</td>
								<td>Supporting File</td>
								<td> Active </td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>
	</div>

</body>
</html>
<script type="text/javascript">

	$(document).ready(function () {
		$("#navhead").text("File Template");
		kendodate_format();
	});

	function rr1() {
		$("#newdebit").hide();
	}

</script>
