html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*GRID header footer color*/

.k-header, .k-grid-header, .k-toolbar, .k-dropdown-wrap, .k-picker-wrap, .k-numeric-wrap, .k-grouping-header, .k-pager-wrap, .k-textbox, .k-button, .k-progressbar, .k-draghandle, .k-autocomplete, .k-state-highlight, .k-tabstrip-items .k-item, .k-panelbar .k-tabstrip-items .k-item, .km-pane-wrapper > .km-pane > .km-view > .km-content {
    background-image: none,-webkit-linear-gradient(top,rgb(135,46,123) 0,rgb(135,46,123) 100%);
}

    .k-header, .k-grid-header{
        color: white !important;
    }


        .k-grid-header th.k-with-icon .k-link {
            color: white !important;
        }

.k-icon, .k-tool-icon, .k-grouping-dropclue, .k-drop-hint, .k-column-menu .k-sprite, .k-grid-mobile .k-resize-handle-inner:before, .k-grid-mobile .k-resize-handle-inner:after, .k-pager-numbers .k-current-page .k-link:after, .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link:after {
    background-image: url(http://kendo.cdn.telerik.com/2016.3.914/styles/Black/sprite.png);
    border-color: transparent;
}

.k-pager-wrap {
    color:white !important;
}

.k-link:link, .k-link:visited, .k-nav-current.k-state-hover .k-link
{
    color: white !important;
}

.k-state-selected, .k-button:active, .k-button.k-state-active, .k-draghandle.k-state-selected:hover {
    background-image: none,linear-gradient(to bottom,rgb(207,185,204) 0,rgb(207,185,204) 100%);
}

    .k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-list > .k-state-selected, .k-list > .k-state-highlight, .k-panel > .k-state-selected, .k-ghost-splitbar-vertical, .k-ghost-splitbar-horizontal, .k-draghandle.k-state-selected:hover, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-marquee-color {
        border-color: #872E7B !important;
        color: black !important;
    }

.k-grid td {
    background-color: #fff !important;
}

.k-grid-header {
    font-size:14px !important;
}

tr {
    font-size:13px !important;
}

.save_btn {
    background: #175650;
    border-color: #175650;
    cursor: pointer;
    color: white;
    min-width:20%;
}

.btn-check:focus + .btn-success, .btn-success:focus, .btn-success.focus {
color: #fff;
background-color: #175650;
border-color: #175650;
}

.btn-check:focus + .btn-success, .btn-success:focus, .btn-success.focus {
    color: #fff;
    background-color: #175650;
    border-color: #175650;
    color:white;
}

.cancel_btn {
    background: #ff0000;
    border-color: #ff0000;
    cursor: pointer;
    color: white;
    min-width:20%;
}

.nav-align-top > .tab-content, .nav-align-right > .tab-content, .nav-align-bottom > .tab-content, .nav-align-left > .tab-content {
    box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 9.12);
}
/*http: //kendo.cdn.telerik.com/2016.3.914/styles/Black/sprite.png*/